body {
    font-family: sans-serif;
}
header img{
    width: 150px;
    height: 100px;
}
span{
    font-size: 30px;
    padding-bottom: 40px;
    height: 100px;
    text-align: right;
}
header{
    background-color: blueviolet;
}
main h1{
    font-size: 15px;
}
main{
background-color: blueviolet;
}
footer img{
width: 387px;
height: 300px;
}
